.navbar {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  background-color:black; /* Set a background color */
}

.navbar li {
  display: inline-block; /* Display list items inline */
}

.navbar li a {
  color: white; 
  text-decoration: none; /* Remove underline from links */
  padding: 15px 20px; 
  display: block; /* Make links block-level for padding to work */
}

.navbar li a:hover {
  background-color: grey; /* Change background color on hover */
}